@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-50 text-slate-900;
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.leaflet-popup-content-wrapper {
  border-radius: 8px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}

.leaflet-popup-tip {
  display: none;
}